@media (max-width: 740px) {
  .search__block {
    .search {
      height: auto;
      .block {
        width: 300px;
        .accordion {
          flex-direction: column;
        }
      }
    }
  }
}

@media (max-width: 1319px) {
  .main {
    .nav {
      &__button {
        margin-left: 134px;
      }
    }
  }
}
@media (max-width: 1434px) {
  .footer .logo {
    padding-left: 62px;
  }
  .footer .office__header {
    font-size: 16px;
  }
  .footer .office span {
    font-size: 13px;
  }
}
@media (max-width: 1240px) {
  .main {
    .nav {
      &__button {
        margin-left: 64px;
      }
    }
  }
  #smallimg {
    width: 500px;
  }
  .world {
    &__imgblock {
      .world__img {
        display: none;
      }
    }
    &__imgblock {
      .world__smallimg {
        display: flex;
      }
    }
  }
}
@media (max-width: 1200px) {
  .living__headers .living__header {
    font-size: 40px;
  }
  .living__headers {
    .living__subheader {
      top: -50px;
    }
    .living__header {
      top: -57px;
    }
  }
}
@media (max-width: 1154px) {
  .office {
    padding-left: 65px;
  }
}
@media (max-width: 1114px) {
  .footer .office {
    padding-left: 57px;
  }
  .footer .office__header {
    font-size: 13px;
  }
  .footer .office span {
    font-size: 9px;
  }
}
@media (max-width: 1048px) {
  #smallimg {
    width: 371px;
  }
  .main {
    .nav {
      &__logo {
        padding-right: 45px;
      }
    }
  }
}
@media (max-width: 1025px) {
  .world__smallimg {
    display: block;
  }

  .living {
    .living_container {
      flex-direction: column-reverse;
    }
  }
}
@media (max-width: 1003px) {
  .footer .office {
    padding-left: 30px;
  }
  .footer .subscribe {
    margin-left: 11px;
  }
}
@media (max-width: 966px) {
  .main .nav__button {
    margin-left: 40px;
  }
}

@media (max-width: 953px) {
  .main .nav__logo {
    padding-right: 0px;
  }
}

@media (max-width: 918px) {
  .search__block {
    .search {
      width: auto;
      height: auto;

      &__button {
        width: 94px;
        height: 39px;
        margin-bottom: 20px;
      }
      .block {
        width: 300px;

        justify-content: center;
        display: flex;
        height: 339px;
      }
    }
  }
  .accordion {
    flex-direction: column;
  }
  .world {
    &__rate {
      justify-content: center;
      margin-bottom: 20px;
    }
    &__subheader {
      margin: 0 auto;
      text-align: center;
    }
    &__header {
      margin: 0 auto;
      text-align: center;
    }
    &__button {
      margin: 0 auto;
      margin-bottom: 20px;
      display: block;
    }

    &__img {
      display: none;
    }
    &__smallimg {
      margin: 0 auto;
      position: static;
      display: block;
      width: 300px;
      height: 350px;
      // margin-left: 183px;
    }
    &__logos {
      flex-wrap: wrap;
    }
  }
  .active {
    font-size: 14px;
  }

  .hamburger {
    display: inline-flex;
  }
  .main {
    &__start {
      display: flex;
      justify-content: center;
      margin-right: 0;
    }
    &__text-container {
      display: flex;
      justify-content: center;
      .main__text {
        display: flex;
        justify-content: center;
        margin-right: 0;
      }
    }
    .nav {
      &__logo {
        padding-right: 0;
      }

      ul {
        display: none;
        padding-bottom: 10px;
      }

      &__button {
        margin-left: auto;
        margin-right: 20px;
      }
    }

    &__header {
      font-size: 36px;
      width: 100%;
      margin-top: 100px;
      text-align: center;
    }

    &__subheader {
      width: 100%;
      margin-top: 20px;
      text-align: center;
    }
    &__arrow {
      display: none;
      margin: 0 auto;
    }

    &__text {
      position: static;
      width: 300px;
      margin-right: 200px;
      height: auto;
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 20px;
      font-weight: 700;
      background: rgba(4, 2, 21, 0.8);
    }
  }
  .propety__button {
    font-size: 11px;
  }
}
@media (max-width: 902px) {
  .footer .subscribe__subheader {
    width: 0;
  }
  .footer .subscribe__header {
    font-size: 18px;
  }
  .footer .subscribe__subheader {
    font-size: 14px;
  }
  .footer .subscribe__form {
    width: 209px;
    margin-top: 0;
  }
  .footer .subscribe__form #email {
    width: 68%;
  }
  .footer #office {
    padding-left: 10px;
  }
}
@media (max-width: 836px) {
  .footer #office {
    padding-left: 73px;
  }
  .footer .office__header {
    font-size: 12px;
  }
  .footer .office span {
    font-size: 8px;

    padding-top: 1px;
  }
  .footer .subscribe {
    margin-left: -4px;
  }
  .footer .subscribe__form {
    width: 204px;
  }
  .footer .subscribe__form #email {
    width: 68%;
  }
  .footer .logo {
    padding-left: 40px;
    font-size: 25px;
    span {
      font-size: 25px;
    }
  }
  .footer .logo .follow_us {
    font-size: 18px;
  }
  .footer__social .wrapper .icon {
    margin: 4px;
    width: 39px;
    height: 39px;
  }
}
@media (max-width: 762px) {
  .hamburger {
    left: 280px;
  }
}
@media (max-width: 716px) {
  .hamburger {
    left: 240px;
  }
}
@media (max-width: 693px) {
  .footer #office {
    padding-left: 33px;
  }
  .footer .logo {
    padding-left: 27px;
  }
}
@media (max-width: 678px) {
  .hamburger {
    left: 208px;
  }
}
@media (max-width: 641px) {
  .hamburger {
    left: 170px;
  }
  .footer .subscribe {
    margin-left: -18px;
  }
  .footer #office {
    padding-left: 14px;
  }
}

@media (max-width: 601px) {
  .hamburger {
    left: 130px;
  }
}
@media (max-width: 563px) {
  .hamburger {
    left: 93px;
  }
}
@media (max-width: 525px) {
  .living {
    #livingimg {
      width: 293px;
      height: 325px;
    }
  }
  .hamburger {
    left: 47px;
  }
  .world__header {
    width: 355px;
  }
  .world__rate-item {
    padding-right: 16px;
  }
  .world__subheader {
    width: 397px;
  }
  .world__smallimg {
    width: auto;
  }
  .world__rate-item {
    padding-right: 8px;
  }
}
@media (max-width: 490px) {
  .hamburger {
    left: 20px;
  }
}
@media (max-width: 461px) {
  .hamburger {
    left: 2px;
  }
  .world__header {
    width: 410px;
  }
  .world__subheader {
    width: 417px;
  }
  .world__imgblock {
    padding-right: 56px;
  }
}
@media (max-width: 426px) {
  .reviews__header {
    font-size: 30px;
  }
  .reviews__subheader {
    font-size: 13px;
  }
  .search__block {
    .search {
      .block {
        height: 366px;
        .accordion {
          padding-left: 0px;
          flex-wrap: nowrap;
        }
      }
    }
  }

  .world__smallimg {
    margin: 0 auto;
    position: static;
    display: block;
    width: auto;
  }
  #smallimg {
    width: 298px;
  }
  .world {
    &__imgblock {
      padding-right: 0;
    }
    &__subheader {
      width: 288px;
      margin-left: 0;
      text-align: start;
    }
    &__rate-item {
      padding-right: 9px;
    }

    &__header {
      width: 250px;
      text-align: start;
      margin-left: 0;
    }

    &__button {
      margin: 0 auto;
      display: block;
      margin-bottom: 20px;
    }
    &__smallimg {
      position: static;

      // margin-left: 35px;
    }
  }

  .accordion {
    justify-content: normal;
    flex-wrap: wrap;
    padding-left: 70px;
    flex-direction: column;
  }
  .accordion-item {
    flex-basis: 33.33%;
    padding: 0;
    padding-bottom: 15px;
  }
  .hamburger {
    top: -50px;
  }

  .main {
    .nav {
      .hamburger {
        left: 319px;
      }
      &__logo {
        span {
          margin-left: -5px;
        }
      }
    }
    &__header {
      font-size: 24px;
      margin-top: 50px;
    }

    &__subheader {
      font-size: 14px;
      margin-top: 20px;
    }

    &__arrow {
      display: none;
    }
    &__text {
      font-size: 14px;
      padding: 10px;
      background: rgba(255, 255, 255, 0.8);
      color: black;
    }
  }
}
@media (max-width: 407px) {
  .propety__button {
    font-size: 9px;
    margin-left: 50px;
  }
  .propety .card {
    min-height: 477px;
  }
  .main .nav .hamburger {
    left: 40px;
  }
  .propety .card {
    width: 300px;
  }
  .propety__button {
    font-size: 11px;
  }
  #cardimg {
    width: 331px;
    height: auto;
  }
}
@media (max-width: 412px) {
  .main .nav {
    width: 103%;
  }
}
@media (max-width: 409px) {
  #smallimg {
    width: 301px;
  }
  .hamburger {
    left: 40px;
    top: -18px;
  }
  .main .nav__logo {
    padding-left: 0px;
    font-size: 22px;
  }
}
@media (max-width: 376px) {
  .world {
    // &__smallimg {
    //   margin-left: 9px;
    // }
    &__rate {
      font-size: 14px;
      span {
        font-size: 33px;
      }
    }
    &__img {
      display: none;
      top: 10px;
    }
    &__subheader {
      width: 288px;
      margin-left: 0;
      text-align: start;
    }
    &__header {
      width: 250px;
      text-align: start;
      margin-left: 0;
    }

    &__rate-item {
      padding-right: 8px;
      padding-bottom: 15px;
    }
  }
  .main {
    &__start {
      font-size: 25px;
      padding-bottom: 20px;
    }
    &__text {
      font-size: 14px;
      padding: 10px;
      margin-right: 17px;
    }
    .nav {
      .hamburger {
        top: -14px;
        left: 30px;
      }
      &__logo {
        display: inline-flex;
        font-weight: 900;
        padding-left: 9px;
        font-size: 17px;
      }
      &__button {
        width: 87px;
        height: 27px;

        font-size: 11px;
      }
    }
  }
  // .search {
  //   left: 10%;
  // }
}
@media (max-width: 365px) {
  .hamburger {
    left: 40px;
  }
}
@media (max-width: 336px) {
  .world__rate {
    padding-left: 30px;
  }
  .world__rate-item {
    padding-right: 9px;
  }
}
@media (max-width: 321px) {
  .world {
    // &__smallimg {
    //   margin-left: -10px;
    // }
    &__img {
      display: none;
    }
    &__subheader {
      width: 288px;
      margin-left: 0;
      text-align: start;
    }
    &__logos {
      padding-top: 150px;
    }
    &__header {
      width: 250px;
      text-align: start;
      margin-left: 0;
    }
    .world__imgblock {
      padding-right: 64px;
    }
    #smallimg {
      width: 134%;
      height: 333px;
    }
    &__rate-item {
      padding-right: 4px;
    }
    .world__rate span {
      font-size: 35px;
    }
  }
  .accordion {
    padding-top: 10px;
    padding-left: 37px;
    &-item {
      padding-left: 40px;
    }
  }
  .search {
    &__button {
      margin-left: 64px;
    }
    height: 300px;
    // left: 4%;
    top: 579px;
    .block {
      height: 379px;
      top: 500px;
      left: 1%;
    }
  }
  /* Ваші нові стилі тут */
  .main {
    .nav {
      &__logo {
        padding-left: 10px;
        margin-top: 6px;
        font-size: 20px;
        span {
          margin-left: -6px;
        }
      }
      .hamburger {
        left: 212px;
        top: -42px;
      }
    }

    .main {
      &__start {
        font-size: 20px;
        padding-bottom: 10px;
      }
      &__text {
        font-size: 12px;
        padding: 5px;
      }
    }
  }
}
@media (max-width: 298px) {
  .world__header {
    font-size: 26px;
  }
  .world__rate {
    padding-left: 0px;
  }
  .world__subheader {
    width: 267px;
  }
  .search__block .search .block {
    width: 258px;
  }
}
@media (max-width: 281px) {
  #smallimg {
    height: 269px;
  }
  .main .nav__logo {
    padding-left: 0px;
  }
  .main .nav .hamburger {
    left: 183px;
  }
  .main .nav__button {
    width: 71px;
    height: 25px;
    margin-right: 15px;
  }
  .search__block .search .block {
    width: 239px;
  }
  .world {
    &__header {
      font-size: 32px;
    }
    &__subheader {
      width: 235px;
      font-size: 14px;
    }
  }
}
@media (max-width: 339px) {
  .hamburger {
    left: 23px;
  }
}
@media (max-width: 621px) {
  .footer {
    &_container {
      display: flex;
      flex-direction: column;
    }

    .logo {
      padding: 30px;
      text-align: center;

      .follow_us {
        padding-top: 20px;
        padding-bottom: 10px;
      }
    }

    &__social {
      .wrapper {
        display: flex;
        justify-content: center;
      }

      .wrapper .icon {
        margin: 5px;
        width: 40px;
        height: 40px;
        font-size: 14px;
      }
    }

    .subscribe {
      margin: 30px;

      &__form {
        margin-top: 20px;
        width: 100%;
        display: flex;

        #email {
          flex: 1;
          border: none;
          height: 100%;
        }

        #submit {
          width: 60px;
          height: 48px;
          background: #ff5a3c;
          border: none;
        }
      }
      &__header {
        padding-top: 30px;
        padding-bottom: 10px;
        text-align: center;
      }
      &__subheader {
        font-size: 16px;
        width: 100%;
        text-align: center;
      }
    }

    .office {
      padding: 20px;
      text-align: center;
      #office {
        padding-left: 0;
      }
      &__header {
        padding-top: 30px;
        text-align: center;
      }
      span {
        padding-top: 10px;
      }
    }

    .copyright {
      height: 60px;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
